# Logs
logs
*.log
npm-debug.log*

# Dependências
**/node_modules
.npm

# IDEs e Sistema
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Segurança: Variáveis de ambiente 
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Build e Cache
**/dist
**/build
.eslintcache

# Arquivos temporários/pessoais
*.txt