.header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  max-width: 20%;
  height: auto;
  padding-bottom: 4%;
}

.header__line {
  border: 1px solid #545454;
  margin: 0;
  opacity: 0.7;
}

.header__nav {
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #fff;
  align-self: center;
}

.header__link:hover {
  opacity: 0.6;
}

.header__link_signout {
  color: #a9a9a9;
  cursor: pointer;
}

.header__nav-burger {
  display: none;
}

@media screen and (max-width: 601px) {
  .header__logo {
    max-width: 20%;
    padding: 2.5rem;
  }

  .header__link {
    font-size: 1rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 481px) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
  }

  .header__nav-list {
    display: none;
    background-color: #000;
    padding: 0;
    flex: 0 0 100%;
    order: -1;
  }

  .header__nav-list.active {
    display: block;
    padding: 2rem 0;
  }

  .header__logo {
    max-width: 40%;
    padding: 10%;
    flex-shrink: 0;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .header__nav-burger {
    position: static;
    margin-right: 1rem;
    top: 3.5rem;
    right: 3rem;
    width: 24px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .header__nav-burger div {
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
  }

  .header__nav-burger.open .line-1 {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .header__nav-burger.open .line-2 {
    opacity: 0;
  }

  .header__nav-burger.open .line-3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .header__nav-list {
    display: none;
    background-color: #000;
    width: 100%;
    padding: 0;
    order: 0;
  }

  .header__nav-list.active {
    display: block;
    padding: 2rem 0;
    order: -1;
  }

  .header__nav {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    padding: 2rem;
  }

  .header__link {
    font-size: 0.8rem;
    padding-right: 1rem;
  }
}
