.info-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-tooltip__icon {
  margin-top: 3rem;
}

.info-tooltip__message {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  margin: 0;
  padding: 3.2rem;
}
